body{
    background-color: rgb(13, 6, 24) !important;

    



    /*navbar*/
}
.navbar{
    color: white ;
    display: flex;
    gap: 100px;
    height: 6.8em;
    align-items: center;
    width: 92%;
    margin: auto;
    .navbar__links {
        a{
            padding: 22px;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                text-decoration: line-through black 2px;
            }
        }
    }
    .navbar__btn{
        padding: 20px 44px;
        background:linear-gradient(to right,rgb(255, 42, 0),rgb(228, 4, 206)) ;
        color: white;
        font-size: 1em;
        font-weight: bolder;
        &:hover{
            background:linear-gradient(to left,rgb(255, 42, 0) ,rgb(228, 4, 206) );     
        }
    }
}


    .offcanvas-header{
        .btn-close{
            display: none !important;
        }
    }















/*HERO*/
.hero{
    background-image: url(/img/__background__hero.png);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position:center;
    height: 33em;
    color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
    
    .title{
        font-size: 4em;
        font-weight: bolder;
        width: 50%;
        margin:0px 0px 35px 0px;
    }
    .text{
        width: 36%;
        font-size: 1.1em;
        margin-bottom: 70px;
    }
    .btn{
        padding: 20px 44px;
        background:linear-gradient(to right,rgb(255, 42, 0),rgb(228, 4, 206));
        color: white;
        font-size: 1em;
        font-weight: bolder;
        border: none;
        &:hover{
            background:linear-gradient(to left,rgb(255, 42, 0) ,rgb(228, 4, 206) );
        }
    }
}
.images{
    display: flex;
    gap: 4em;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
    #img-third{
        padding-top: 8px;
    }

}
/*

*/
.about{
    display: flex;
    color: white;
    width: 90%;
    margin: auto;
    gap: 30px;
    margin-bottom: 140px;
    img{
       width:38rem;
    }
    .about__hist{
        .about__hist--title{
            font-size: 3.4em;
            font-weight: 600;
            margin-bottom: 0;
        }
        .about__hist--text{
            font-size: 1.1em;
           line-height: 36px;
           padding-bottom: 70px;
        }

        .title__btn{
            padding: 20px 44px;
        background:linear-gradient(to right,rgb(255, 42, 0),rgb(228, 4, 206));
        color: white;
        font-size: 1em;
        font-weight: bolder;
        border: none;
        &:hover{
            background:linear-gradient(to left,rgb(255, 42, 0) ,rgb(228, 4, 206) );
        }
        }
        .text__btn{
            padding: 20px 44px;
        background:linear-gradient(to right,rgb(255, 42, 0),rgb(228, 4, 206));
        color: white;
        font-size: 1em;
        font-weight: bolder;
        border: none;
        margin-left: 30px;
        &:hover{
            background:linear-gradient(to left,rgb(255, 42, 0) ,rgb(228, 4, 206) );
        }
        }
    }
}












/*LIVE*/
.live{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 50px;
    background-image: url(/img/live_stareams_bg.png--motalat.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
        .live__one{
        background-image: url(/img/azNMYWM9__-removebg-preview.png) ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 500px;
        height: 300px;
        margin: 0;
        text-align: center;
        p{
            color:white;
            font-size: 4.4em;
            justify-self: center;
            line-height: 57px;
        }
        button{
            padding: 20px 44px;
            background:linear-gradient(to right,rgb(255, 42, 0),rgb(228, 4, 206));
            color: white;
            font-size: 1em;
            font-weight: bolder;
            
            &:hover{
                background:linear-gradient(to left,rgb(255, 42, 0) ,rgb(228, 4, 206) );
            }   
        }
    }
    .bottom__live{
        display: flex;
    }
}














/*WAR*/
.war{
    justify-items: center;
    font-size: 3.2em;
    font-weight: bold;
    color: white;

}
.war__img{
    background-image: url(/img/latest_war_img.png--backghlid.png);
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 35em;
}
.war__middle{
    justify-self: center;
    text-align: center;
    color: white;
    .logo{
        margin-top: 130px;
    }
    .title{
        font-size: 2.1em;
        font-weight: bold;
        margin-bottom: 0;
    }
    .date{
        font-size: 1.4em;
        font-weight:bold ;
    }
    .red{
        color: red;
        font-weight:500;
        text-decoration: none;
    }
}
.bottom{
    font-size: 2.9em;
    color: white;
    justify-self: center;
    display: flex;
    gap: 20px;
    p{
        margin-top: 25px;
        font-weight: bold;
    }
}
















/*frogger*/
.frogges{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: white;
    margin-top: 140px;
}
.left__frog{
    .left__frog--one{
        display: flex;
        gap: 30px;
        align-items: center;
        p{
            font-weight: bold;
        }
        .left__frog--p{
            font-weight: bold;  
            #june{
                color: rgb(237, 28, 77);

            }
        }
    }
}
.frogger{
    background-image: url(/img/latest_war_img_1.png--frogger.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 29em;
    width: 30em;
    text-align: center;
    align-content: center;
    .frogger__one{
        font-size:2em;
        font-weight:bold;
        margin: 0;
    }
    .frogger__two{
        font-weight: 600;
    }
    .frogger__three{
        color: red;
        margin-top: 0;
        text-decoration: none;
    }
    .frogger__four{
        display: flex;
        justify-content: center;
        p{
            font-size: 1.9em;
            font-weight: bold;
        }
    }
}



/*Fighter*/

.fighter{
    text-align: center;
    color: white;
    margin-top: 120px;
    margin-bottom: 100px;
    font-size: 2.7em;
    font-weight: bold;
}
.fighter__img{
    display: flex;
    justify-content: center;
    gap: 7px;
    .fighter__left{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .fighter__middle{
        display:flex;
        flex-direction:column;
        gap: 5px;
    }
    .fighter__right{
        display: flex;
        flex-direction:column;
        gap: 5px;
    }
}










/*footer*/
.footer{
    display: flex;
    color:rgb(176, 174, 174);
    justify-content:center;
    margin-top: 200px;
    font-size:0.9em;
    margin-bottom: 70px;
    .footer__left--one{
        width:16em;
        height: 16em;
        p{
            line-height: 27px;
            margin-right: 10px;
        }
    }
    .footer__left--two{
        width: 18em;
        height: 16em;
        li{
            margin-right: 40px;
        }
    }
    .footer__right--one{
        width: 17em;
        height: 16em;
        
    }
    .footer__right--two{
        width: 18em;
        height: 16em;
        p{
            line-height: 27px;
            margin-right: 20px;
        }
    }
    .p__title{
        font-weight: bold;
        font-size: 1.4em;
        margin-top: 0;
        color: white;
    }
    ul{
        padding-left: 0;
    }
    li{
        list-style: none;
        line-height: 27px;
    }
    .foot__mail{
        display: flex;
        align-items: center;
    .msg{
        padding: 6px 10px;
        border: none;
    }
    .btn__foot{
        background:linear-gradient(to right,rgb(255, 42, 0),rgb(228, 4, 206));
        border: none;
        img{
            width: 22.6px;
    }

}
}}



















/*responsive*/







@media (max-width:850px){
    .navbar{
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
        width: 95%;
        margin: 0 auto;
        .navbar__links{
            a{
            padding: 3px;
            font-size:1em;
        }
    }
        .navbar__btn{
            padding: 5px 10px;
            font-size: 1.3em;
    }
    }
    .hero{
        .title{
        font-size:3em;
        width:70%;
        margin:0px 0px 15px 0px;
        } 
        .text{
        width:50%;
        font-size:1.3em;
        margin-bottom:40px;
        line-height: 46px;
        }
    
     }
     .images{
        display:flex;
        gap:2.5em;
        width:70px;
        margin: auto;
        margin-top:160px;
        margin-bottom: 120px;
    }
    .about{
        display: flex;
        flex-direction:column;
        color: white;
        width: 90%;
        margin: auto;
        gap: 10px;
        
            img{
           width:30rem;
           display: flex;
           justify-self: center;
           margin-right: 60px;
        }
           .about__hist{
            text-align: center;
            .about__hist--title{
                font-size: 4.2em;
                font-weight: bold;
                margin-bottom: 0;
            }
            .about__hist--text{
                font-size: 1.8em;
               line-height: 60px;
               padding-bottom: 40px;
            }
    
            .title__btn{
            padding: 18px 52px;
            color: white;
            font-size: 1.6em;
            font-weight: bolder;
            }
            .text__btn{
            padding: 18px 31px;
            color: white;
            font-size: 1.6em;
            font-weight: bolder;
            margin-left: 30px;
            }
        }
    }   
    
    .live{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 390px 0px;
        .live__one{
            width: 70%;
            margin:  auto;
            text-align: center;
            p{
                margin-top: 20px;
                font-size: 5em;
                line-height: 80px;
            }
            button{
                border: none;
                font-size: 1.3em;
            }
        }
        .bottom__live{
            display: flex;
            justify-content:center;
            padding-top: 100px;

        }
    }
    .frogges{
        gap: 20px;
        .left__frog{
            p{
                font-size: 1.1em;
            }
        }
    }
    .frogger{
        width: 23em;
    }









    .fighter__img{
        display: flex;
        flex-direction:row;
        justify-self: center;
        .fighter__left{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .fighter__img--one{
                width: 150px;
                height: 130px;
            }
            .fighter__img--two{
                width: 150px;
                height:170px;
            }
        }
        .fighter__middle{
            display: flex;
            flex-direction: column;
            .fighter__img--up{
                display: flex;
                flex-direction: row;
                gap: 5px;
                .fighter__img--three{
                    width: 140px;
                    height: 140px;
                }
                .fighter__img--four{
                    width: 140px;
                    height: 140px;
                }
            }
            .fighter__img--five{
                width: 285px;
                height: 162px;
            }
        }
            .fighter__right{
                gap: 5px;
                .fighter__img--sex{
                    width: 150px;
                    height: 150px;
                }
                .fighter__img--seven{
                    width: 150px;
                    height: 155px;
                }
            }










} 

.footer{
    display: flex;
    font-size: 0.7em;
    justify-content: center;
    padding: 10px 60px;
    .footer__left--one{
        padding-right: 20px;
    }

}
}







